<widget-header titulo = 'CADASTRO DE ANEXOS'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		   			<li role="presentation" class="active"><a href="">Cadastrar auto</a></li>
		  			<li role="presentation"><a href="/#/anexos">Gerar anexo</a></li>
		  			<li role="presentation"><a href="/#/estatisticas">Gerar estatísticas</a></li>
		  			<li role="presentation"><a href="/#/lacres">Buscar lacre</a></li>
		  			<li ng-click="vm.logoff()"><a href="/#/" class="logoff">logoff</a></li>
		  			<li role="presentation"><a href="" class="usuario">{{vm.user}}</a></li>
		  		</ul>
  			</div>
		</nav>

	<form name="myForm">
		<div class="form-group">
    		<label class="fonteBranca">AUTO Nº</label>
    		<input type="text" class="form-control" placeholder="número do auto de apreensão" ng-model='vm.auto' maxlength="6">

    		<label class="fonteBranca">AGENTE</label>
		  		<select ng-model='vm.agente' class="form-control" ng-options="item.nome for item in vm.agentes track by item.nome"></select>


    		<label class="fonteBranca">Data</label>
    		<input class="form-control" ng-model='vm.date' placeholder="data" datepicker>

    		<label class="fonteBranca">Hora</label>
    		<input type="text" name="input" class="form-control" ng-model='vm.hora' placeholder="Formato HH:mm" maxlength="5" ng-change="vm.validaHora(vm.hora)">
    		
  		
    		<label class="fonteBranca">BAIRRO</label>
		  		<select ng-model='vm.bairro' class="form-control" ng-options="item.bairro for item in vm.bairros track by item.bairro" ng-change="vm.pegaRuas(vm.bairro.bairro)"></select>

			<label class="fonteBranca">LOGRADOURO</label>
				<select class="form-control" ng-model='vm.logradouro' ng-options="local.logradouro for local in vm.ruas track by local.logradouro">
				</select>
		</div>
	</form>	

	<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.showLacre" ng-click="vm.lancar()">Lançar lacre</button>

	<form>
	  		
  		<div class="form-group" ng-show="!vm.showLacre">
	    	<label class="fonteBranca">LACRE</label>
	    	<input type="number" class="form-control" placeholder="lacre ccu" ng-model="vm.lacre">
  
	    	<label class="fonteBranca">Nº TRM</label>
	    	<input type="number" class="form-control"  placeholder="número trm" ng-model="vm.trm">
  		</div>

  	</form>

	<form class="form-inline" ng-show="!vm.showLacre">	
  		<label class="fonteBranca">FILTRO</label>
		  		<select class="form-control" ng-model='vm.filtro' ng-options="item.filtro for item in vm.filtros track by item.filtro" ng-change="vm.filtrarProduto(vm.filtro)">
				</select>

  		<label class="fonteBranca">PRODUTOS</label>
		  		<select class="form-control" ng-model='vm.produto' ng-options="item.produto for item in vm.produtos track by item.produto" ng-change="vm.filtraEscolha(vm.produto)">
				</select>

  		<div class="form-group">
	    	<label class="fonteBranca">QUANTIDADE</label>
	    	<input type="number" class="form-control" placeholder="quantidade" ng-model='vm.produto.quantidade'>
	
  		</div>

  		<button type="submit" class="btn btn-success" ng-click="vm.confirmar(vm.produto)">Confirmar</button>

	</form>

	<div class="corpoProdutos">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="escolha in vm.arrayEscolha" ng-show="!vm.showLacre">
	    			<span class="badge" ng-click="vm.excluir(escolha)">excluir</span>
	    			{{escolha.produto}}<span class="badge">{{escolha.quantidade}}</span>
			</li>
		</ul>
	</div>

	<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="!vm.showLacre" ng-click="vm.salvarLacre()">Salvar lacre</button>

	<div class="corpoProdutos">
		<table class="tabela">
				<tr>
					<td class="centralizado headerTabela">NÚERO DO LACRE</td>
					<td class="centralizado headerTabela" >NÚMERO DO TRM</td>
					<td class="centralizado headerTabela" >TIPO</td>
					<td class="centralizado headerTabela">PRODUTO</td>
					<td class="centralizado headerTabela">QUANTIDADE</td>
				</tr>
				<tr ng-repeat="campo in vm.arrayExibe" ng-class-odd="'odd'" ng-class-even="'even'">
					<td class="centralizado">{{campo.lacre}}</td>
					<td class="centralizado">{{campo.trm}}</td>
					<td>{{campo.tipo}}</td>
					<td>{{campo.produto}}</td>
					<td class="centralizado">{{campo.quantidade}}</td>
				</tr>
		</table>
	</div>

	<div class="corpoProdutos fonteBranca">
		<button type="button" class="btn btn-primary btn-lg btn-block" ng-show="vm.showLacre" ng-click="vm.salvar()">Salvar auto</button>
	</div>


</div>