<widget-header titulo = 'LACRES'></widget-header>
<div class="corpo">
		<nav class="navbar navbar-inverse">
  			<div class="container">
		   		<ul class="nav nav-pills">
		  			<li role="presentation"><a href="#autos">Cadastrar auto</a></li>
		  			<li role="presentation"><a href="#anexos">Gerar anexo</a></li>
		  			<li role="presentation"><a href="#estatisticas">Gerar estatísticas</a></li>
		  			<li role="presentation" class="active"><a href="">Buscar lacre</a></li>
		  		</ul>
  			</div>
		</nav>
		
		<form name="myForm">
		<div class="form-group">
    		<input type="number" class="form-control" ng-model='vm.lacre' placeholder="busque pelo lacre">
    		<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.buscar(vm.lacre)">Buscar</button>
    	</div>
    	</form>

    	<div class="bordaBranca">
    		<center>
    			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.mostrarLoading">
    			</span>
    		</center>

    		<div ng-repeat="lacre in vm.lacres" ng-class-odd="'odd'" ng-class-even="'even'">
    			<div ng-include="vm.sub_lacre"></div>
    		</div>

		</div>

</div>